.footer__copyright{
  position: absolute;
  width: 318px;
  height: 18px;
  left: 200px;
  top: 1139px;
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-left: 19px;
    font-size: 14px;
    line-height: 1.2;
    padding-top: 48px;
    padding-bottom: 36px;
    margin: 0;
  }
}